/* General */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header a {
    color: #fff;
    text-decoration: none;
}

header .logo {
    width: 150px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    transition: transform 0.3s ease;
}

nav ul li a:hover {
    transform: translateY(-5px);
}

main {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, .animated-welcome {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5em;
    font-weight: bold;
    color: #333;
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h2 {
    margin-bottom: 20px;
    color: #666;
}

p {
    line-height: 1.6;
}

/* Servicios */
.contenedorServicios {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Fotoservicio {
    width: 100px;
    height: auto;
    margin-left: 20px;
    border-radius: 10px;
}

.contacto {
    max-width: 600px;
    margin: 0 auto;
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Contacto*/
form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
    position: relative;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #999;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.form-group .btn-formulario {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-group .btn-formulario:hover {
    background-color: #555;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Servicios */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.grid-item {
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.grid-item p {
    margin-bottom: 15px;
    font-weight: bold;
}

.grid-item img {
    width: 100%;
    border-radius: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .contenedorServicios {
        flex-direction: column;
        align-items: flex-start;
    }

    .fotoservicio {
        margin-left: 0;
        margin-top: 10px;
        width: 100%;
    }

    .grid-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 480px) {
    main {
        margin: 10px;
        padding: 10px;
    }

    header {
        padding: 5px 0;
    }

    .contacto {
        padding: 10px;
    }

    .form-group input,
    .form-group textarea {
        font-size: 14px;
        padding: 10px;
    }

    .form-group .btn-formulario {
        padding: 10px 15px;
    }

    .grid-container {
        grid-template-columns: 1fr;
    }

    .grid-item {
        padding: 15px;
    }
}

.main-paragraph {
    font-size: 18px; /* Tamaño de fuente aumentado */
    font-family: 'Arial', sans-serif; /* Cambio de tipo de letra */
    line-height: 1.8; /* Espaciado entre líneas aumentado */
    text-align: justify; /* Alineación justificada */
    color: #555; /* Color de texto modificado */
    padding: 10px; /* Espaciado interno */
    border-left: 5px solid #333; /* Borde izquierdo */
}

.main-paragraph:hover {
    transform: scale(1.1); /* Aumento de escala al pasar el mouse */
    transition: transform 0.3s ease; /* Transición suave */
}

